<%- include('header.ejs') %>
    <div class="main">
        <div class="header">
            <h2>My To Do List</h2>

            <form action="/" method="post">

                <input type="text" name="item" value="<%= Data.name %>" placeholder="Title...">
                <button type="submit" id="AddBtn">Add</button>

            </form>

        </div>
        <div class="body">
            <div class="bodyData">
                <% for(var i=0;i<Data.length;i++) {%>
                <form action="/delete" method="post">
                    
                        <input type="checkbox" id="checkBtn" onclick=underline()>
                        <input type="text" id="dataInput" value="<%-Data[i].name%>">
                        <button type="submit" id="DltBtn">Delete</button>
                      
                </form>
                  <% } %>
            </div>

        </div>
    </div>
    <%-include('footer.ejs')%>