<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ToDo List</title>
    <link rel="stylesheet" href="styles/index.css">
</head>

<body>
    <div class="main">
        <div class="header">
            <h2>My To Do List</h2>
            <form action="/" method="post">
                <input type="text" placeholder="Title...">
                <button type="submit" id="AddBtn">Add</button>

            </form>

        </div>
        <div class="body">
            <div class="bodyData">
                <form action="/" method="post">
                    <input type="checkbox" id="checkBtn" onclick=underline()>
                    <input type="text" id="dataInput" value="PayBills">
                    <button type="submit" id="DltBtn">Delete</button>
                </form>
            </div>

        </div>
    </div>
    <script src="script/index.js"></script>
</body>

</html>